html {
     min-height: 100%;
}
 body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: #eeeeee;
     margin:0;
     padding:0;
     height:100%;
}
 header {
     font-size:200%;
     text-transform: uppercase;
     font-weight:800;
     text-align:center;
}
 #search-container {
     background-color:black;
     padding:.5em 0;
     text-align:right;
     margin:0 0 1em 0;
     width:100%;
}
 footer {
    text-align:center;
    margin:1em auto;
    padding:1em;
    background-color: none;
    max-width:1100px;
    font-size:.75em;
}
.footer-block {
    text-align:left;
    display:inline-block;
    vertical-align:top;
    margin:0 4em;
}

.footer-block ul {
    list-style:none;
    padding-left:0;
}
 nav {
     background-color: white;
     padding:.05em 1em;
     margin:.75em auto;
     max-width:1100px;
     text-align:center;
}
 .col-info {
     display:inline-block;
     width:65%;
     height:100%;
     vertical-align:bottom;
     padding:1em;
}
 .col-img {
     display:inline-block;
     width:30%;
     height:100%;
     vertical-align:bottom;
     text-align:center;
}
 nav ul {
     list-style: none;
     padding:0;
}
 nav ul li {
     display:inline-block;
     opacity:.4;
     cursor:pointer;
     font-weight:700;
     padding:0 .5%;
     transition:.3s;
   
}
 nav ul li:hover {
     opacity:1;
}
 nav ul li.active {
     opacity:1;
}
 .page {
     margin:1em auto;
     padding:1em;
     background-color: white;
     max-width:1100px;
}
 .hidden {
     display:none;
     left:-2em;
}
 h2 {
     font-size:1em;
}
 img {
     max-width:100%;
}
 button {
     background-color: #dfdfdf;
     border:none;
     padding:1em;
     font-weight:700;
     cursor:pointer;
     transition:.3s;
     margin:1.5em auto;
     display:block;
     width:100%;
}
 button:hover {
     opacity:.6;
}

.btn-subscribe {
    background:black;
    color:white;
    border:none;
    display:inline-block;
}
a {
     color:black;
     text-decoration: none;
}
a:hover {
    color:#7a7a7a;

}
 .bold {
     font-weight:700;
}
 .centered {
     text-align:center;
}
 .watch-thumb {
     width:20%;
     padding:.5em;
     margin:1em;
     cursor:pointer;
     transition:.3s;
     display:inline-block;
     text-align:center;
     vertical-align:top;
     opacity:.7;
     min-height:100%;
     font-weight:normal;
}
 .watch-thumb:hover {
    /* width:11%;
     */
     opacity:1;
}
 .brand-link, .category-link {
     opacity:.4;
     cursor:pointer;
     font-weight:700;
     padding:0 1%;
     transition:.3s;
     list-style: none;
}
 .brand-link:hover, .category-link:hover {
     opacity:1;
}
 .brand-link.active, .category-link.active {
     opacity:1;
}
/* Reset iOS Styling */
 input.text, input[type="text"], input[type="button"], input[type="submit"], .input-checkbox {
     -webkit-appearance: none;
     border-radius: 0;
}
/* Reset Moz Styling */
 input[type="submit"], input[type="text"] {
     line-height:normal !important;
     box-sizing: border-box 
}
 input[type="text"]{
     border:none;
}
 #watch-search-input {
     width:15em;
     margin:0;
     display:inline-block;
     height:20px;
     font-size:1em;
     vertical-align:middle;
}
 select, input, button {
     border-width: 0px;
     border:none;
}
 #search-button {
     padding: 0;
     border:none;
     cursor:pointer;
     display:inline-block;
     background-color:white;
     height:20px;
      width:20px;
     font-size:1em;
     text-align:center;
     font-weight:bold;
     vertical-align:middle;
     margin-right:1em;
}
 @media (max-width: 800px) {
     .watch-thumb {
         display:block;
         width:90%;
         margin:1em auto;
    }
     .page {
         padding:1.5em;
    }
     #search-page {
         text-align:center;
    }
     #search-button {
         margin:0;
         height:30px;
         width:30px;
    }
     .col-img {
         display:block;
         width:100%;
    }
     .col-info {
         width:100%;
         display:block;
         padding:0;
    }
     #search-container {
         text-align:center;
    }
     #watch-search-input {
         height:30px;
    }
    footer {
        padding:1.5em;
        font-size:20px;
    }
    .footer-block {
        text-align:left;
        display:block;
        width:90%;
        margin:1em auto;
    }
}
 
